body {

}

.navmenu__outer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    bottom: 0;
    height: 80px;
    width: 50%;
    background-color: #DCDCDC;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 10px 10px;
}

.navmenu__inner {
    display: flex;
    top: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

#navmenu a:hover {
    border-radius: 10px 10px;
    background-color: #DAA520;
}

.messenger {
    display: flex;
    top: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.chats_list {
    display: flex;
    top: 100%;
    height: 100%;
    left: 0;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.chat_ref__outer {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.chat_ref__inner {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 10px;
    border-radius: 10px 10px;
    align-items: center;
    background-color: #DCDCDC;
    flex-direction: row;
    flex-wrap: nowrap;
}

.chat_ref_avatar {
    display: flex;
    margin: 10px;
}

.chat_ref_name {
    display: flex;
    position: relative;
    margin: 10px;
    top: 0;
}

.bottom_row {
    position:absolute;
    bottom:0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.flex-container {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

#button_fdsdfad ul {
    display: none;
    position: relative;
    margin: 20px;
    padding: 20px;
    background-color: #FFFAFA;
    border-radius: 5px 5px;
}

#button_fdsdfad li {
    display: inline;
    float: left;
    position: relative;
    text-align: left;
    padding: 20px;
    width: 100%;
}

#button_fdsdfad a:hover {
    position: relative;
    padding: 10px;
    border-radius: 10px 10px;
    background-color: #DAA520;
}

.preformatted-text {
    white-space: pre-wrap;
}

.chat {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

#bottom-pos {
    position: absolute;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    bottom: 20%;
}

#bottom-pos cont {
    position: absolute;
    bottom: 20%;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
