body {

}

.navmenu__outer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    bottom: 0;
    height: 80px;
    width: 50%;
    background-color: #DCDCDC;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 10px 10px;
}

.navmenu__inner {
    display: flex;
    top: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

#navmenu li {
    display: flex;
}

#navmenu a:hover {
    border-radius: 10px 10px;
    background-color: #DAA520;
}

.messenger {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
}

.chats_list {
    display: flex;
    position: fixed;
    height: calc(100% - 150px);
    left: 0;
    width: 20%;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
}

.chat_ref__outer {
    display: flex;
    height: 80px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

.chat_ref__inner {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 10px;
    border-radius: 10px 10px;
    align-items: center;
    background-color: #DCDCDC;
    flex-direction: row;
    flex-wrap: nowrap;
}

.chat_ref_avatar {
    display: flex;
    margin: 10px;
}

.chat_ref_name {
    display: flex;
    position: relative;
    margin: 10px;
    top: 0;
}

.chat_list_bottom__outer {
    display: flex;
    position: fixed;
    width: 20%;
    height: 100px;
    bottom: 0;

    align-items: center;
    justify-content: center;
}

.chat_list_bottom__inner {
    display: flex;
    position: fixed;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    bottom: 0;
    height: 100px;
    width: 15%;
    border-radius: 10px 10px;

    background-color: #DCDCDC;

    align-items: center;
    justify-content: center;
}

#button_new_chat div {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-radius: 5px 5px;
}

#button_new_chat li {
    display: inline;
    float: left;
    position: relative;
    padding: 20px;
    width: 100%;
}

#button_new_chat a:hover {
    position: relative;
    padding: 10px;
    border-radius: 10px 10px;
    background-color: #FFFAFA;
}

.chat_body {
    display: flex;
    position: fixed;
    right: 0;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    height: 100%;
    margin-left: 5%;

    flex-direction: column;
    align-items: center;
}

.chat_footer {
    position: fixed;
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 10px;
    border-radius: 10px 10px;
    background-color: #DCDCDC;
}

.chat {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    top: 115px;
    height: calc(100% - 420px);
    width: 75%;

    flex-direction: column;
    overflow-y:scroll;
}

.chat_bottom {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    bottom: 100px;
    height: 100px;
    width: 50%;

    border-radius: 10px 10px;
    background-color: #DCDCDC;

    flex-direction: row;
}

.button_send {
    position: relative;
    align-items: center;
    right: 0;
}

.message_RTL {
    align-items: right;
    width: 100%;
}

.message_LTL {
    align-items: left;
    width: 100%;
}

.message__outer {
    display: flex;
    margin: 10px;
}

.message__inner {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}

.message__actions {
    width: 67px;
    padding-right: 5px;
}

.message__spacer {
    flex: 1;
}

.message__bubble__blue {
    max-width: calc(100% - 67px);
    overflow-wrap: break-word;
    padding: 5px;
    border-radius: 15px;
    background-color: #DCDCDC;
}

.message__bubble__grey {
    max-width: calc(100% - 67px);
    overflow-wrap: break-word;
    padding: 5px;
    border-radius: 15px;
    background-color: #DCDCDC;
}

.bottom_row {
    position:absolute;
    bottom:0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.flex-container {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

.preformatted-text {
    white-space: pre-wrap;
}

#bottom-pos {
    position: absolute;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 10%;
    bottom: 20%;
}

#bottom-pos cont {
    position: absolute;
    bottom: 20%;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
