{% extends 'messenger.html' %}

{% block meta %}
<meta http-equiv="refresh" content="60">
{% endblock %}

{% block title %}
Чат с {1}
{% endblock %}

{% block chat %}

<div class="chat_footer">

</div>

<div class="chat">
    {2}
    <div class="message_RTL">
    <div class="message__outer">
        <div class="message__avatar"></div>
        <div class="message__inner">
            <div class="message__bubble">Привет</div>
            <div class="message__actions"></div>
            <div class="message__spacer"></div>
        </div>
        <div class="message__status"></div>
    </div>
</div>
</div>

<div class="chat_bottom">
    <form action="" method="post">
        <div><label>Написать: </label><input type="text" name="message" value="" requered><input type="submit" value="Отправить"></div>
    </form>
</div>

<script type="text/javascript" src={{url_for('static',filename='JS/autorefresh.js')}}></script>

{% endblock %}
