{% extends 'base.html' %}

{% block meta %}
<meta http-equiv="refresh" content="1">
{% endblock %}

{% block title %}
Чат с {0}
{% endblock %}

{% block body %}

<div class="chat">
    <div class="preformatted-text">
        <iframe id="FrameID" style="border: none;" srcdoc="{1}"></iframe>
    </div>
</div>

<div id="bottom-pos">
    <cont>
        <form action="" method="post" class="form-contact">
            <p><label>Сообщение: </label> <input type="text" name="message" value="" requered></p>
            <p><input type="submit" value="Отправить"></p>
            <hr aligh=left width="100%">
        </form>
    </cont>
</div>

<script type="text/javascript" src={{url_for('static',filename='JS/autorefresh.js')}}></script>

{% endblock %}
