{% extends 'base.html' %}

{% block title %}
Друзья
{% endblock %}

{% block body %}
<div class="new_friend_search__outer">
    <div class="new_friend_search__inner">
        <div class="universal_spacer"></div>
        <div class="new_friend_search__bubble">
            <form action="/friendslist" method="POST" class="form-contact">
                <span><label>Имя: </label> <input type="text" name="username" value="" requered></span>
                <span><input type="submit" value="Найти человека по имени"></span>
            </form>
        </div>
        <div class="universal_spacer"></div>
    </div>
</div>

<div class="centred-container">
    <div class="friends_list__bubble" id="element">
        {0}
    </div>
</div>
{% endblock %}
