{% extends 'base.html' %}

{% block title %}
Войти
{% endblock %}

{% block body %}
<div class="container">
  <form action="/login" method="post" class="form-contact">
    <p><label>Имя: </label> <input type="text" name="username" value="" requered></p>
    <p><label>Пароль: </label> <input type="text" name="password" value="" requered></p>
    <p><input type="submit" value="Войти"></p>
    <hr aligh=left width="100%">
    <p><a href="/register">Нет аккаунта? Зарегистрируйтесь</a></p>
  </form>
</div>
{% endblock %}
