{% extends 'base.html' %}

{% block meta %}{% endblock %}

{% block title %}
Личные сообщения
{% endblock %}

{% block body %}
<link href="/static/css/styles.css" rel="stylesheet"/>
<div class="messenger">
    <div class="chats_list">
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>
    </div>

    <div class="chat_list_bottom__outer">
        <div class="chat_list_bottom__inner">
            <div id="button_new_chat">
                <li><a href="/personlist">Новый чат</a></li>
            </div>
        </div>
    </div>

    <div class="chat_body">
        {% block chat %}{% endblock %}
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
        <h1>GGGYGIYG</h1>
    </div>
</div>
{% endblock %}
