{% extends 'base.html' %}

{% block meta %}{% endblock %}

{% block title %}
Личные сообщения
{% endblock %}

{% block body %}
<link href="/static/css/styles.css" rel="stylesheet"/>
<div class="messenger">
    <div class="chats_list">
        <div class="chat_ref__outer">
            <div class="chat_ref__inner">
                <div class="chat_ref_avatar">
                    <img class="icon" src="/static/gallery/icons/profile.png"/>
                </div>
                <div class="chat_ref_name">
                    Chat
                </div>
            </div>
        </div>

        <ul id="button_fdsdfad">
            <li><a href="/personlist">Новый чат</a></li>
        </ul>
    </div>

    <div>
        {% block chat %}{% endblock %}
    </div>
</div>
{% endblock %}
