{% extends 'base.html' %}

{% block title %}
Профиль пользователя {0}
{% endblock %}

{% block body %}
<div class="centred-container">
    <div class="profile__outer">
        <div class="profile__inner">
            <div class="profile__spacer"></div>
            <div class="profile__inner__bubble">
                <div class="profile__spacer"></div>
                <div class="profile__avatar">
                    <img class="avatar" src="/static/gallery/avatars/1.png"/>
                </div>
                <div class="profile__spacer"></div>
                <div class="profile__bubble__container">
                    <div class="profile__info">
                        <div class="profile__bubble">
                            <div class="profile__bubble__username">
                                <span>{0}</span>
                            </div>
                        </div>
                    </div>
                    <div class="profile__spacer"></div>
                    <div class="profile__logout__button">
                        <div class="profile__logout__button__bubble">
                            <span id="profile__logout__button__bubble"><a href="/logout">Выйти из профиля</a></span>
                        </div>
                    </div>
                    <div class="profile__spacer"></div>
                </div>
                <div class="profile__spacer"></div>
            </div>
            <div class="profile__spacer"></div>
        </div>
    </div>
    <div id="new_post_button__outer">
        <div class="new_post_button__inner">
            <div class="universal_spacer"></div>
            <div id="new_post_button__bubble">
                <div class="universal_spacer"></div>
                <li><a href="/new_post"><span>Написать пост</span></a></li>
                <div class="universal_spacer"></div>
            </div>
            <div class="universal_spacer"></div>
        </div>
    </div>
    <div class="universal_spacer"></div>
    <div class="posts__space__scroll" id="element">
        {1}
    </div>
</div>
{% endblock %}
